# Directories
#   Project specific
bin/
bin-int/

#   Windows
.vs/

#   Linux
#   MacOSX

# Files
#   Windows
*.user
*.sln
*.vcxproj
*.filters

#   Linux 
Makefile

#   MacOSX

